body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-meme{
  width: 250px;
  box-sizing: border-box;
  display: inline-block;

}

.div-imagen{
height: 500px;


}

.primary{
  background-color: #294F6D;
}

.secondary{
  color: #AA8E39;
}
.name{
  color: #123652;
}


.imagen{
  max-height: 400px;
  vertical-align: middle;

}
.icono{
  height: 22px;
  width: 22px;
  
  fill: red;
	color: #fff; 
}
.dimScreen
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}
.form-group {
  display: flex;
  align-items: center;
}
.centrar{
  margin-left: auto;
  margin-right: auto;
  display: block;

}